
// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: "Ubuntu", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$grey: #605c5c;
$grey-1: #b3afaf;
$grey-2: #ccc;
$grey-3: #eee;
$grey-4: #f5f5f5;
$maroon: #e00;
$red: #f00;
$red-1: #60120c;
$red-2: #bf1e2d;

// Footer
$footer-bg-color: #fff;
$footer-text-color: #000;  //#66645F
$footer-links-color: #435c84;
$footer-links-hover: #303948;

// Top Navigation Bar
$navbar-bg-color: #fff;